<body class="d-flex flex-column h-100 ">
    <footer style="background-color: oklch(32.00% 0.1166 348.9);" class="footerh-100 pt-3">
        <p class="text-muted text-center">The Updated Web Dev Bootcamp endproject (TS + ESNext)</p>
    </footer>
</body>
</html>