<footer style="background-color: oklch(32.00% 0.1166 348.9); height: 32px;padding-top: 2px;" class="fixed-bottom footer w-100">
    <p class="text-muted text-center">The Updated Web Dev Bootcamp endproject (TS + ESNext)</p>
</footer>