<nav class="navbar">

        <%- include('../../views/partials/icon')%>
            <a class="navbar-brand " href="../campgrounds/">esm yelpcam</a>
            <button type="button">
                <span class="">need something to do</span>
            </button>
            <div>
                <ul class="">
                    <li class="">
                        <a class="" href="../campgrounds">All Campgrounds</a>
                    </li>
                    <li class="">
                        <a class="" href="/campgrounds/new">New Campground </a>
                    </li>

                </ul>
                <form>
                    <input class="" type="search" placeholder="Search" aria-label="Search">
                    <button type="submit">Search</button>
                </form>


</nav>