<nav style="background-color: oklch(32.00% 0.1166 348.9);" class="navbar navbar-dark  container-fluid h-100 ">
    <div class="container-fluid px-2 py-1">
        <%- include('../partials/icon') %>
            <h1 class="text-xxl-start text-light pt-2">YELPCAMP</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="background-color: oklch(32.00% 0.1166 348.9);" class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header d-flex flex-rowjustify-content-center">
                    <%- include('../partials/icon') %>
                    <h5 class="offcanvas-title text-light " id="offcanvasDarkNavbarLabel "><span style="font-size: 44px;translate: 0px 0px;" class="">YelpCamp</span></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/campgrounds/">All Campgrounds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/campgrounds/new">Add Campground</a>

                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search" action="/campgrounds/search" method="GET">
                        <input class="form-control me-2" type="search" name="searchQuery" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
    </div>
</nav>