<nav class="navbar">
    <%- include('../../views/partials/icon')%>
        <div class="navigation">
            <ul class="">
                <li class=""role="nav">
                    <a class="" href="/campgrounds">All Campgrounds</a>
                </li>
                <li class=""role="nav">
                    <a class="" href="/campgrounds/new">New Campground </a>
                </li>
                <form>
                    <input class="" type="search" placeholder="Search" aria-label="Search">
                    <button type="submit">Search</button>
                </form>
            </ul>
            </nav>