<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show</title>
</head>

<body>
  <header>
    <h1>
      <%= campground.title %>
    </h1>
    <h2>
      <%= campground.location %>
    </h2>
  </header>
  <section>
    <figure>
      <img src="https://picsum.photos/600/300/" alt="<%= campground.title %>" />
      <figcaption>
        <p>
          <%= campground.description="Description goed here" %>
        </p>
      </figcaption>
    </figure>
  </section>
  <footer>
    <button type="button">
      <a href="/campgrounds/">All Campgrounds</a>
    </button>
  </footer>
</body>

</html>