:root {
    --fill: hsla(345, 93%, 53%, 0.916);
}

/* css reset  */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

button {
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 900ms;

}

a {
    width: 100%;
}

a:hover {
    color: hsla(208, 100%, 97%, 0.938);
}

a:link {
    text-decoration: none;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: 'system-ui', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: grid;
    grid-template-columns: 72px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100svw;
    padding-inline: 16px;
}

.navigation {
    display: flex;
    justify-content: end;
    width: 100%;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: full;
    text-decoration: none;
    gap: 8px;
    margin-block: 48px;
    border: 1px solid red;
    place-self: center;
    padding-inline: 24px;
    padding-block: 48px;
    border-radius: 8px;
}

ul {
    list-style: none;
    display: flex;
    border-collapse: collapse;
    gap: 16px;
    place-self: center;
    form{
        padding-top: 14px;
    }
}

li {
    border: 1px solid rgb(67, 59, 59);
    padding-inline: 8px;
    padding-block: 16px;
    border-radius: 8px;
}

li[role="nav"] {
    border: none;
}